@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 250 100% 23%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 250 100% 23%;
    --card: 0 0% 100%;
    --card-foreground: 250 100% 23%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 223 100% 32%;
    --primary-foreground: 210 40% 98%;
    --secondary: 212 100% 65%;
    --secondary-foreground: 250 100% 23%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 250 100% 23%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 223 100% 32%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 23% 5%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 240 23% 5%;
    --popover-foreground: 210 40% 98%;
    --card: 240 23% 5%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 219 100% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 219 100% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'Raleway', sans-serif;
  }

  body {
    @apply bg-background text-foreground;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}
